{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'contact/css/contact_page.css' %}">
{% endblock %}

{% block body_class %}template-newspage{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div class="official ui vertical stripe max-height very padded segment">
    <div class="ui centered grid basic segment container">
        <div class="row">
            <div class="ui centered header">
                <h1 class="content">{{ page.title }}</h1>
                <div class="ui sub header">ライブの出演依頼、各種お問い合わせはメールでご連絡ください。
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ui basic segment">
                <div class="ui center aligned icon header">
                    <div class="content">
                        <h2>Email</h2>
                    </div>
                    <a href="mailto:mosquitone8+contacts@gmail.com&subject=Ex.【ライブ出演依頼】【質問">
                        <i class="mail link black icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ui basic segment">
                <div class="ui centered header">
                    <h2>SNS</h2>
                </div>
                <div class="ui grid">
                    {% for sns_account in sns_accounts %}
                    <div class="three wide centered column">
                        <h3 class="ui header">
                            <a href="{{ sns_account.account_url }}">
                                <i class="{{ sns_account.sns_icon_name }} black big icon"></i>
                            </a>
                        </h3>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
