{% extends "base.html" %}


{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags %}


{% load static %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'news/css/news_page.css' %}">
{% endblock %}

{% block body_class %}template-newspage{% endblock %}

{% block content %}
<div class="ui main text container">
    <div class="ui segment">
        <h1 class="ui centered header">{{ page.title }}</h1>
        <div class="ui top right attached label">
            <div class="detail">{{ page.release_date }}</div>
        </div>
        {% image page.artwork max-400x400 as artwork %}
        <img {{ artwork.attrs }} class="ui centered image">
        <div class="content">
            <h2 class="ui sub header">Tracks</h2>
            <div class="ui celled ordered list">
                {% for track in page.tracks.all %}
                <div class="item">
                    <div class="content">
                        <div class="header">
                            {{ track.title }}
                        </div>
                        <div class="description">
                            {{ track.duration }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <p>{{ page.copy }}</p>
        </div>
    </div>
    <p><a href="{% slugurl 'music' %}">Return to Music</a></p>
</div>

{% endblock %}