{% extends "base.html" %}

{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-newsindexpage{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="ui inverted gray max-height very padded basic segment">
    <div class="ui container">
        <div class="ui three column centered grid">
            <div class="row">
                <h1 class="ui inverted centered header">
                    {{ page.title }}
                </h1>
            </div>
            {% for music_page in music_pages %}
            {% with music=music_page.specific %}
            <a class="sixteen wide mobile eight wide tablet five wide computer column" href="{% pageurl music %}">
                <div class="ui rounded centered image">
                    {% with music.artwork as artwork %}
                    {% image artwork max-600x600 width="600" height="600" alt=music.title %}
                    {% endwith %}
                </div>
            </a>
            {% endwith %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
