.official.vertical.stripe.segment {
    padding-top: 0px;
}

.official.main.image.container {
    height: 50vw;
    display: block;
    background-size: cover;
    background-position: top center;
    background-clip: content-box;
    background-repeat: no-repeat;
}

.official.main.image.container > .header {
    padding-top: 20vw;
    font-size: 4em;
}
