{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-newsindexpage{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'tours/css/show_index_page.css' %}">
{% endblock %}

{% block header %}
{% endblock %}
{% block topcontent %}
{% image page.background_image width-1200 as background_image %}
<div class="official fixed background image container" style="background-image: url('{{ background_image.url }}')"></div>
{% endblock %}

{% block content %}
<div class="official max-height container">
    <div class="bandsintown container">
        <h1 class="ui inverted center aligned header">
            {{ page.title }}
        </h1>
        <a class="bit-widget-initializer" data-artist-name="mosquitone" data-display-local-dates="false"
            data-display-past-dates="true" data-auto-style="false" data-text-color="#FFFFFF"
            data-link-color="#00b4b3" data-background-color="rgba(0,0,0,0)" data-display-limit="15"
            data-display-start-time="false" data-link-text-color="#FFFFFF" data-display-lineup="false"
            data-display-play-my-city="false" data-separator-color="rgba(124,124,124,0.25)"></a>
        <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script>
    </div>
</div>
{% endblock %}
