.masthead .official.link.buttons {
  margin-top: 20px !important;
}

.masthead.segment {
  min-height: 70vh !important;
}

.masthead .official.header.container {
  text-align: center;
}

.masthead .official.ui.header {
  font-size: 7em;
}

.masthead .official.ui.sub.header {
  font-size: 2em;
}

@media only screen and (max-width: 700px) {
  .masthead.segment {
    min-height: 300px !important;
    height: 70vh;
  }
  .masthead .official.header.container {
    padding-top: 10vh;
    text-align: center;
  }
  .masthead .official.ui.header {
    font-size: 4em;
    margin-top: 0px !important;
  }
  .masthead .official.ui.sub.header {
    font-size: 1.5em;
  }
}
