.official.link.buttons {
  margin-top: 20px !important;
}

.official.header.container {
  margin-top: 10vh;
}

.official.ui.header {
  font-size: 10em;
  font-weight: normal;
}

.official.ui.sub.header {
  font-size: 2em;
}

@media only screen and (max-width: 700px) {
  .official.ui.header {
    font-size: 4.7em;
    margin-top: 0px !important;
  }
  .official.ui.sub.header {
    font-size: 1.5em;
  }
}
