.official.link.buttons {
  margin-top: 30px !important;
}

.official.header.container {
  margin-top: 10vh;
}

.official.ui.header {
  font-size: 9em;
  font-weight: normal;
}

.official.ui.sub.header {
  font-size: 2em;
}

@media only screen and (max-width: 768px) {
  .official.ui.header {
    font-size: 4.7em;
  }
  .official.ui.sub.header {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 768px) and (min-width: 500px) {
  .official.ui.header {
    font-size: 7em;
  }
  .official.ui.sub.header {
    font-size: 1.5em;
  }
}
