.official.content>header {
  height: auto;
  min-height: 5vh;
}

.official.content>main>* {
  padding-bottom: 30px;
  padding-top: 30px;
}

.official.content>main>.max-height {
  height: auto;
  min-height: 65vh;
}

.official.content>footer {
  height: auto;
  min-height: 30vh;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 5em;
  padding-bottom: 2em;
}

.responsive-object {
  /* workarond for wagtail embed content padding bug
     See: https://github.com/wagtail/wagtail/issues/1495 */
  padding-bottom: 0px !important;
}

.official.share {
  display: none;
}

.official.share.enable {
  display: initial;
}

.official.background.image.container {
  content: "";
  background-position: center center;
  background-size: cover;
  padding: 30px 10px;
}

.hidden.menu {
  display: none;
}

.masthead.segment {
  padding: 1em 0em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 1em;
  margin-bottom: 0em;
  font-size: 3em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button+h3, .ui.vertical.stripe p+h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.secondary.pointing.menu .logo.item {
  padding: 0;
  margin: 0 1em 0 0;
}

.secondary.pointing.menu .link.menu {
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .secondary.pointing.menu .item {
    display: none;
  }
  .secondary.pointing.menu .toc.item, .secondary.pointing.menu .logo.item {
    display: block;
  }
  .official.content>header {
    min-height: 6vh;
  }
  .official.content>main>.max-height {
    min-height: 57vh;
  }
  .official.content>footer {
    min-height: 37vh;
  }
}

@media only screen and (max-width: 500px) {
  .secondary.pointing.menu .link.menu {
    margin-left: auto;
  }
}

@media only screen and (max-width: 768px) and (min-width: 500px) {
  .secondary.pointing.menu .link.menu {
    margin-left: 0;
  }
  .secondary.pointing.menu .logo.item {
    order: 2;
  }
}
